<div class="code-block">
  <div class="code-block__head">
    <span class="code-block__dot code-block__dot--red"></span>
    <span class="code-block__dot code-block__dot--yellow"></span>
    <span class="code-block__dot code-block__dot--green"></span>
    <span class="code-block__lang">{{ label() }}</span>
    <button class="code-block__copy" (click)="copy()">
      {{ copied() ? i18n.content().copyDone : i18n.content().copy }}
    </button>
  </div>
  <div class="code-block__body">
    @for (line of lines(); track $index) {
      <div class="code-block__line">
        <span class="code-block__no">{{ line.lineNumber }}</span>
        @for (token of line.tokens; track $index) {
          <span [class]="token.kind">{{ token.text }}</span>
        }
      </div>
    }
  </div>
</div>
